@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
	padding: 0;
	margin: 0;
	background-color: #0a1119;
	color: white;
}

header.bar {
	padding: 0 15px;
	margin: 0;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	width: -webkit-fill-available;
	height: 70px;
	justify-content: flex-end;
	z-index: 200;
	border-bottom: 1px solid rgb(255 255 255 / 10%);
	transition: backdrop-filter .2s;
}
header.bar.scrolled {
	/* background: rgba(255, 255, 255, .0); */
	backdrop-filter: blur(10px);
}
header.bar font {
	padding: 0;
	margin: 0 10px;
	display: flex;
	align-items: center;
	width: -webkit-fill-available;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 900;
	/* position: absolute; */
	top: 0;
	left: 0;
	pointer-events: none;
	user-select: none;
	z-index: 1;
	/* opacity: .1; */
}
header.bar ol {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	height: 70px;
	user-select: none;
}
header.bar li {
	padding: 0 15px;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: transparent;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-weight: 400;
}
header.bar li.active {
	border-bottom-color: #024ea5;
}
header.bar li:hover {
	background: rgba(255,255,255,.05);
}

div.you {
	padding: 0;
	margin: 0;
	width: -webkit-fill-available;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 40px;
	/* pointer-events: none; */
	user-select: none;
}
div.you img {
	padding: 0;
	margin: 0;
	width: 65%;
	position: relative;
	z-index: 10;
	/* animation: swing-in-right-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both; */
}
div.you h2 {
	padding: 0px 80px;
	margin: 0;
	font-weight: 800;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	width: -webkit-fill-available;
	position: absolute;
	z-index: 11;
}
div.you h2 name {
	color: #f8f400;
	display: block;
}
div.you h2 name tot {
	color: #ffffff;
}
div.you h2 sub {
	display: block;
	font-weight: 200;
	font-size: 21px;
	max-width: 540px;
	margin-top: 20px;
}
div.you h2 div.social {
	padding: 0;
	margin: 0;
	margin-top: 20px;
	z-index: 12;
	position: relative;
	display: inline-flex;
}
div.you h2 div.social span {
	padding: 4px;
	margin: 0 6px;
	width: 34px;
	height: 34px;
	display: flex;
	border-radius: 100%;
	/*border: 1px solid rgb(255 255 255 / 39%);*/
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: white;
}
div.you h2 div.social span:hover {
	background: white;
}
div.you h2 div.social span img {
	padding: 0;
	margin: 0;
	/*pointer-events: none;*/
	/*user-select: none;*/
}

div.content {
	padding: 90px 80px;
	margin: 0;
}
div.content h1 {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 32px;
}
div.content h5 {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 16px;
	width: 530px;
	/* position: absolute; */
	margin-top: 5px;
	opacity: .7;
}

div.content-scroll-p {
	padding: 0;
	margin: 0;
	position: relative;
	display: flex;
	align-items: center;
}
div.content-scroll-p span.material-symbols-outlined {
	padding: 4px;
	margin: 0;
	cursor: pointer;
	background: #262c33d4;
	border-radius: 8px;
	outline: 1px solid rgba(255,255,255,.2);
	position: absolute;
	z-index: 99;
	/* backdrop-filter: blur(3px); */
	transition: all .3s;
	color: #ffffff3b;
	margin-left: -55px;
	user-select: none;
}
div.content-scroll-p span.material-symbols-outlined:hover {
	box-shadow: 0 2px 10px rgba(0,0,0.2);
	/* background: white; */
	color: white;
	outline-color: #262c332e;
}
div.content-scroll-p span.material-symbols-outlined.end {
	margin: 0;
	right: 0;
	margin-right: -55px;
}

div.content-scroll-p ul.content-projects {
	padding: 20px 0;
	margin: 0;
	list-style: none;
	display: flex;
	overflow-x: hidden;
	/* align-items: center; */
	position: relative;
	scroll-behavior: smooth;
}
div.content-scroll-p ul.content-projects li {
	padding: 5px;
	margin: 0 10px;
	width: fit-content;
	border-radius: 20px;
	border: 1px solid rgb(255 255 255 / 8%);
	cursor: pointer;
	user-select: none;
	background: rgb(255 255 255 / 6%);
	color: white;
	display: inline-table;
	position: relative;
	overflow: hidden;
}
div.content-scroll-p ul.content-projects li::after {
	background: inherit;
	content: '';
	display: block;
	position: absolute;
	left: -60px;
	top: 40px;
	width: 100%;
	height: 108%;
	z-index: -1;
	filter: blur(30px);
}
div.content-scroll-p ul.content-projects li img {
	padding: 0;
	margin: 0;
	width: 150px;
	display: flex;
	border-radius: 15px;
	position: relative;
	pointer-events: none;
	background: rgba(255,255,255,.2);
}
div.content-scroll-p ul.content-projects li h2 {
	padding: 10px 10px;
	margin: 0;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	max-width: 130px;
	padding-bottom: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
div.content-scroll-p ul.content-projects li h4 {
	padding: 10px 10px;
	margin: 0;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	max-width: 130px;
	padding-top: 0;
}



@-webkit-keyframes swing-in-right-fwd {
	0% {
	  -webkit-transform: rotateY(-100deg);
			  transform: rotateY(-100deg);
	  -webkit-transform-origin: right;
			  transform-origin: right;
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotateY(0);
			  transform: rotateY(0);
	  -webkit-transform-origin: right;
			  transform-origin: right;
	  opacity: 1;
	}
  }
  @keyframes swing-in-right-fwd {
	0% {
	  -webkit-transform: rotateY(-100deg);
			  transform: rotateY(-100deg);
	  -webkit-transform-origin: right;
			  transform-origin: right;
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotateY(0);
			  transform: rotateY(0);
	  -webkit-transform-origin: right;
			  transform-origin: right;
	  opacity: 1;
	}
  }